{% if brand == "LIV" %}
    <table cellpadding="0" cellspacing="0" name="Footer"
        style="background-color: transparent; border-collapse: collapse; font-family: 'Roboto', sans-serif; width: 100%; padding: 0; border-radius: 3px; max-width: 650px; margin-top: 0; border: 0px !important;"
        width="100%" bgcolor="transparent">
        <tbody>
            <tr>
                <td style="padding-top: 15px;">
                    <a href="https://assetspwa.liverpool.com.mx/ayuda/index.html#/faq/faq-entregas"
                        style="text-decoration: none; width: 33%; max-width: 155px; margin: 10px auto;">
                        <img src="https://assetspwa.liverpool.com.mx/assets/digital/mailings/img/envio_gratis.png"
                            border="0" style="margin: 0 auto; display: block; text-align: center;">
                    </a>
                </td>
                <td style="padding-top: 15px;">
                    <a href="https://assetspwa.liverpool.com.mx/ayuda/index.html#/sec/terminos-y-condiciones/entregas/click-collect"
                        style="text-decoration: none; width: 33%; max-width: 155px; margin: 10px auto;">
                        <img src="https://assetspwa.liverpool.com.mx/assets/digital/mailings/img/clickandcollect.png"
                            border="0" style="margin: 0 auto; display: block; text-align: center;">
                    </a>
                </td>
                <td style="padding-top: 15px;">
                    <a href="https://www.liverpool.com.mx/tienda/paginas/garantia"
                        style="text-decoration: none; width: 33%; max-width: 155px; margin: 10px auto;">
                        <img src="https://assetspwa.liverpool.com.mx/assets/digital/mailings/img/garantia_liv.png"
                            border="0" style="margin: 0 auto; display: block; text-align: center;">
                    </a>
                </td>
            </tr>
            <tr>
                <td colspan="3" style="padding-bottom: 3%; padding-left: 5%; padding-top: 3%; padding-right: 5%;">
                    <p style="text-align: center; font-size: 11px; font-weight: bold;">Ventas y Centro de Atención</p>
                    <p style="text-align: center; font-size: 11px;">(55) 5262 9999 o desde tu celular *7171</p>
                    <p style="text-align: center; font-size: 11px; font-weight: bold;">
                        <a href="https://assetspwa.liverpool.com.mx/ayuda/index.html#/sec/terminos-y-condiciones/proteccion-de-datos/aviso-clientes"
                            style="color: #000000; text-decoration: none;">Aviso de Privacidad | </a>
                        <a href="https://assetspwa.liverpool.com.mx/ayuda/index.html#/"
                            style="color: #000000; text-decoration: none;">Ayuda | </a>
                        <a href="https://assetspwa.liverpool.com.mx/ayuda/index.html#/sec/terminos-y-condiciones/cancelaciones"
                            style="color: #000000; text-decoration: none;">Cancelaciones | </a>
                        <a href="https://www.liverpool.com.mx/tienda/paginas/garantia"
                            style="color: #000000; text-decoration: none;">Garantía de Servicio</a>
                    </p>
                    <p style="text-align: center; font-size: 11px;">Distribuidora Liverpool S.A. de C.V. Prolongación Vasco
                        de Quiroga 4800, Torre 2, Piso 3.
                        Colonia Santa Fe Cuajimalpa. Delegación Cuajimalpa de Morelos. C.P. 05348, Ciudad de México.
                        DLI931201MI9. Régimen General de Ley Personas Morales.</p>
                </td>
            </tr>
            <tr>
                <td colspan="3" style="text-align: center;">
                    <label style="font-size: 12px; font-weight: bold;">Descarga Liverpool Pocket</label>
                </td>
            </tr>
            <tr colspan="3">
                <td>
                </td>
                <td style="text-align: center;">
                    <a href="https://apps.apple.com/mx/app/liverpool-pocket/id1148204349 " style="text-decoration: none;">
                        <img src="https://assetspwa.liverpool.com.mx/assets/digital/mailings/img/apple.png" alt="logo"
                            usemap="#Map2" border="0"
                            style="margin: 0 auto; text-align: center; padding-left: 20px; display: inline; vertical-align: middle;">
                    </a>
                    <a href="https://play.google.com/store/apps/details?id=mx.com.liverpool.shoppingapp&amp;hl=es_MX&amp;gl=US"
                        style="text-decoration: none;">
                        <img src="https://assetspwa.liverpool.com.mx/assets/digital/mailings/img/android.png" alt="logo"
                            usemap="#Map2" border="0"
                            style="margin: 0 auto; text-align: center; padding-left: 20px; display: inline; vertical-align: middle;">
                    </a>
                </td>
                <td>
                </td>
            </tr>
            <tr>
                <td colspan="3" style="text-align: center; padding: 15px 20px;">
                    <label style="font-size: 12px; font-weight: bold;">Siguenos en</label>
                </td>
            </tr>
            <tr colspan="3" style="padding: 15px 20px;">
                <td colspan="3">
                    <div style="text-align:center">
                        <a href="https://www.facebook.com/liverpoolmexico" style="text-decoration: none;">
                            <img src="https://assetspwa.liverpool.com.mx/assets/digital/mailings/img/facebook.png"
                                alt="logo" usemap="#Map2" border="0"
                                style="margin: 0 auto; text-align: center; padding-left: 20px; display: inline; vertical-align: middle;">
                        </a>
                        <a href="https://twitter.com/liverpoolmexico" style="text-decoration: none;">
                            <img src="https://assetspwa.liverpool.com.mx/assets/digital/mailings/img/twitter.png" alt="logo"
                                usemap="#Map2" border="0"
                                style="margin: 0 auto; text-align: center; padding-left: 20px; display: inline; vertical-align: middle;">
                        </a>
                        <a href="https://www.instagram.com/liverpool_mexico/" style="text-decoration: none;">
                            <img src="https://assetspwa.liverpool.com.mx/assets/digital/mailings/img/instagram.png"
                                alt="logo" usemap="#Map2" border="0"
                                style="margin: 0 auto; text-align: center; padding-left: 20px; display: inline; vertical-align: middle;">
                        </a>
                        <a href="https://www.pinterest.com.mx/liverpoolmexico/" style="text-decoration: none;">
                            <img src="https://assetspwa.liverpool.com.mx/assets/digital/mailings/img/pinterest.png"
                                alt="logo" usemap="#Map2" border="0"
                                style="margin: 0 auto; text-align: center; padding-left: 20px; display: inline; vertical-align: middle;">
                        </a>
                        <a href="https://www.youtube.com/c/liverpoolmexico" style="text-decoration: none;">
                            <img src="https://assetspwa.liverpool.com.mx/assets/digital/mailings/img/Youtube.png" alt="logo"
                                usemap="#Map2" border="0"
                                style="margin: 0 auto; text-align: center; padding-left: 20px; display: inline; vertical-align: middle;">
                        </a>
                    </div>
                </td>
            </tr>
            <tr colspan="3">
                <td style="padding: 20px 10px;"> </td>
            </tr>
            <tr style="padding: 15px 20px;">
                <td colspan="3" style="color: white; background: #464646;">
                    <p style="text-align: center; font-size: 12px;">
                        <b>#es parte de mi vida</b>
                    </p>
                </td>
            </tr>
        </tbody>
    </table>
{% endif %}
{% if brand == "PBA" %}
    <table cellpadding="0" cellspacing="0" name="Footer"
        style="background-color: transparent; border-collapse: collapse; font-family: 'Roboto', sans-serif; width: 100%; padding: 0; border-radius: 3px; max-width: 630px; margin-top: 0; border: 0px !important;"
        width="100%" bgcolor="transparent">
        <tbody>
            <tr>
                <td colspan="3" style="text-align: center; padding: 15px 20px;"><label
                        style="font-size: 12px; font-weight: bold;">Siguenos en</label></td>
            </tr>
            <tr colspan="3" style="padding: 15px 20px;">
                <td colspan="3">
                    <div style="text-align:center"><a href="https://www.facebook.com/potterybarnmx"
                            style="text-decoration: none;"><img
                                src="http://liverpool-mkt-prod5-res.adobe-campaign.com/res/liverpool_mkt_prod5/926320b87f081a251b02ee5edd055ca836c03066531410b91c6381b54952c5e7.png"
                                alt="logo" usemap="#Map2" border="0"
                                style="margin: 0 auto; text-align: center; padding-left: 20px; display: inline; vertical-align: middle;"></a><a
                            href="https://instagram.com/potterybarnmx" style="text-decoration: none;"><img
                                src="http://liverpool-mkt-prod5-res.adobe-campaign.com/res/liverpool_mkt_prod5/a1ac47daf7089562f80b687eeac96f7b650165702690896d54d0292735e815c5.png"
                                alt="logo" usemap="#Map2" border="0"
                                style="margin: 0 auto; text-align: center; padding-left: 20px; display: inline; vertical-align: middle;"></a>
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="3" style="padding-bottom: 3%; padding-left: 5%; padding-top: 3%; padding-right: 5%;">
                    <p style="text-align: center; font-size: 11px; font-weight: bold;">Ventas y Centro de Atención</p>
                    <p style="text-align: center; font-size: 11px; line-height: 0.9em;"> (443) 689-2102 en Ciudad de México
                        y del Interior de la República.</p><br>
                    <p style="text-align: center; font-size: 11px; line-height: 0.9em;"> RFC DLI-931201-MI9 Dstribuidora
                        Liverpool S.A de C.V. Prolongacion Vasco de Quiroga</p>
                    <p style="text-align: center; font-size: 11px; line-height: 0.9em;">4800. torre 2 Piso 3. Colonia Santa
                        Fe Cuajimalpa. Delegacion Cuajimalpa de Morelos</p>
                    <p style="text-align: center; font-size: 11px; line-height: 0.9em;">C.P. 05348, Ciudad de Mexico.
                        DLI931201MI9. Regimen General de Ley Personas Morales.</p>
                    <p style="text-align: center; font-size: 11px; font-weight: bold; padding: 15px 0;"><a
                            href="https://assetspwa.potterybarn.com.mx/ayuda/index.html#/sec/terminos-y-condiciones/informacion"
                            style="color: #000000; text-decoration: none;">Términos y condiciones | </a><a
                            href="https://assetspwa.potterybarn.com.mx/ayuda/index.html#/sec/terminos-y-condiciones/proteccion-de-datos/aviso-clientes"
                            style="color: #000000; text-decoration: none;">Aviso de privacidad | </a><a
                            href="https://assetspwa.potterybarn.com.mx/ayuda/index.html#/"
                            style="color: #000000; text-decoration: none;">Ayuda | </a>Copyright Liverpool 2021</p>
                </td>
            </tr>
            <tr colspan="3">
                <td style="padding: 20px 10px;"> </td>
            </tr>
            <tr style="padding: 15px 20px;">
                <td colspan="3" style="color: white; background: #464646;">
                    <p style="text-align: center; font-size: 12px; padding: 15px 0;"><b> Comparte los momentos Williams
                            sonoma Inc</b></p>
                </td>
            </tr>
        </tbody>
    </table>
{% endif %}
{% if brand == "WSO" %}
    <table cellpadding="0" cellspacing="0" name="Footer"
    style="background-color: transparent; border-collapse: collapse; font-family: 'Roboto', sans-serif; width: 100%; padding: 0; border-radius: 3px; max-width: 630px; margin-top: 0; border: 0px !important;"
    width="100%" bgcolor="transparent">
    <tbody>
        <tr>
            <td colspan="3" style="text-align: center; padding: 15px 20px;"><label
                    style="font-size: 12px; font-weight: bold;">Siguenos en</label></td>
        </tr>
        <tr colspan="3" style="padding: 15px 20px;">
            <td colspan="3">
                <div style="text-align:center"><a href="https://www.facebook.com/WilliamsSonomaMX"
                        style="text-decoration: none;"><img
                            src="http://liverpool-mkt-prod5-res.adobe-campaign.com/res/liverpool_mkt_prod5/926320b87f081a251b02ee5edd055ca836c03066531410b91c6381b54952c5e7.png"
                            alt="logo" usemap="#Map2" border="0"
                            style="margin: 0 auto; text-align: center; padding-left: 20px; display: inline; vertical-align: middle;"></a><a
                        href="https://www.instagram.com/williamssonomamx" style="text-decoration: none;"><img
                            src="http://liverpool-mkt-prod5-res.adobe-campaign.com/res/liverpool_mkt_prod5/a1ac47daf7089562f80b687eeac96f7b650165702690896d54d0292735e815c5.png"
                            alt="logo" usemap="#Map2" border="0"
                            style="margin: 0 auto; text-align: center; padding-left: 20px; display: inline; vertical-align: middle;"></a>
                </div>
            </td>
        </tr>
        <tr>
            <td colspan="3" style="padding-bottom: 3%; padding-left: 5%; padding-top: 3%; padding-right: 5%;">
                <p style="text-align: center; font-size: 11px; font-weight: bold;">Ventas y Centro de Atención</p>
                <p style="text-align: center; font-size: 11px; line-height: 0.9em;"> (443) 689-2104 en Ciudad de México
                    y del Interior de la República.</p><br>
                <p style="text-align: center; font-size: 11px; line-height: 0.9em;"> RFC DLI-931201-MI9 Dstribuidora
                    Liverpool S.A de C.V. Prolongacion Vasco de Quiroga</p>
                <p style="text-align: center; font-size: 11px; line-height: 0.9em;">4800. torre 2 Piso 3. Colonia Santa
                    Fe Cuajimalpa. Delegacion Cuajimalpa de Morelos</p>
                <p style="text-align: center; font-size: 11px; line-height: 0.9em;">C.P. 05348, Ciudad de Mexico.
                    DLI931201MI9. Regimen General de Ley Personas Morales.</p>
                <p style="text-align: center; font-size: 11px; font-weight: bold; padding: 15px 0;"><a
                        href="https://assetspwa.williams-sonoma.com.mx/ayuda/index.html#/sec/terminos-y-condiciones/informacion"
                        style="color: #000000; text-decoration: none;">Términos y condiciones | </a><a
                        href="https://assetspwa.williams-sonoma.com.mx/ayuda/index.html#/sec/terminos-y-condiciones/proteccion-de-datos/aviso-clientes"
                        style="color: #000000; text-decoration: none;">Aviso de privacidad | </a><a
                        href="https://assetspwa.williams-sonoma.com.mx/ayuda/index.html#/"
                        style="color: #000000; text-decoration: none;">Ayuda | </a>Copyright Liverpool 2021</p>
            </td>
        </tr>
        <tr colspan="3">
            <td style="padding: 20px 10px;"> </td>
        </tr>
        <tr style="padding: 15px 20px;">
            <td colspan="3" style="color: white; background: #464646;">
                <p style="text-align: center; font-size: 12px; padding: 15px 0;"><b> Comparte los momentos Williams
                        sonoma Inc</b></p>
            </td>
        </tr>
    </tbody>
    </table>         
{% endif %}
{% if brand == "WEL" %}
    <table cellpadding="0" cellspacing="0" name="Footer"
    style="background-color: transparent; border-collapse: collapse; font-family: 'Roboto', sans-serif; width: 100%; padding: 0; border-radius: 3px; max-width: 630px; margin-top: 0; border: 0px !important;"
    width="100%" bgcolor="transparent">
    <tbody>
        <tr>
            <td colspan="3" style="text-align: center; padding: 15px 20px;"><label
                    style="font-size: 12px; font-weight: bold;">Siguenos en</label></td>
        </tr>
        <tr colspan="3" style="padding: 15px 20px;">
            <td colspan="3">
                <div style="text-align:center"><a href="https://www.facebook.com/WestElmMX"
                        style="text-decoration: none;"><img
                            src="http://liverpool-mkt-prod5-res.adobe-campaign.com/res/liverpool_mkt_prod5/926320b87f081a251b02ee5edd055ca836c03066531410b91c6381b54952c5e7.png"
                            alt="logo" usemap="#Map2" border="0"
                            style="margin: 0 auto; text-align: center; padding-left: 20px; display: inline; vertical-align: middle;"></a><a
                        href="https://instagram.com/westelmmx" style="text-decoration: none;"><img
                            src="http://liverpool-mkt-prod5-res.adobe-campaign.com/res/liverpool_mkt_prod5/a1ac47daf7089562f80b687eeac96f7b650165702690896d54d0292735e815c5.png"
                            alt="logo" usemap="#Map2" border="0"
                            style="margin: 0 auto; text-align: center; padding-left: 20px; display: inline; vertical-align: middle;"></a>
                </div>
            </td>
        </tr>
        <tr>
            <td colspan="3" style="padding-bottom: 3%; padding-left: 5%; padding-top: 3%; padding-right: 5%;">
                <p style="text-align: center; font-size: 11px; font-weight: bold;">Ventas y Centro de Atención</p>
                <p style="text-align: center; font-size: 11px; line-height: 0.9em;"> (443) 689-2103 en Ciudad de México
                    y del Interior de la República.</p><br>
                <p style="text-align: center; font-size: 11px; line-height: 0.9em;"> RFC DLI-931201-MI9 Dstribuidora
                    Liverpool S.A de C.V. Prolongacion Vasco de Quiroga</p>
                <p style="text-align: center; font-size: 11px; line-height: 0.9em;">4800. torre 2 Piso 3. Colonia Santa
                    Fe Cuajimalpa. Delegacion Cuajimalpa de Morelos</p>
                <p style="text-align: center; font-size: 11px; line-height: 0.9em;">C.P. 05348, Ciudad de Mexico.
                    DLI931201MI9. Regimen General de Ley Personas Morales.</p>
                <p style="text-align: center; font-size: 11px; font-weight: bold; padding: 15px 0;"><a
                        href="https://assetspwa.westelm.com.mx/ayuda/index.html#/sec/terminos-y-condiciones/informacion"
                        style="color: #000000; text-decoration: none;">Términos y condiciones | </a><a
                        href="https://assetspwa.westelm.com.mx/ayuda/index.html#/sec/terminos-y-condiciones/proteccion-de-datos/aviso-clientes"
                        style="color: #000000; text-decoration: none;">Aviso de privacidad | </a><a
                        href="https://assetspwa.westelm.com.mx/ayuda/index.html#/"
                        style="color: #000000; text-decoration: none;">Ayuda | </a>Copyright Liverpool 2021</p>
            </td>
        </tr>
        <tr colspan="3">
            <td style="padding: 20px 10px;"> </td>
        </tr>
        <tr style="padding: 15px 20px;">
            <td colspan="3" style="color: white; background: #464646;">
                <p style="text-align: center; font-size: 12px; padding: 15px 0;"><b> Comparte los momentos Williams
                        sonoma Inc</b></p>
            </td>
        </tr>
    </tbody>
    </table>                   
{% endif %}
{% if brand == "PBK" %}
    <table cellpadding="0" cellspacing="0" name="Footer"
    style="background-color: transparent; border-collapse: collapse; font-family: 'Roboto', sans-serif; width: 100%; padding: 0; border-radius: 3px; max-width: 630px; margin-top: 0; border: 0px !important;"
    width="100%" bgcolor="transparent">
    <tbody>
        <tr>
            <td colspan="3" style="text-align: center; padding: 15px 20px;"><label
                    style="font-size: 12px; font-weight: bold;">Siguenos en</label></td>
        </tr>
        <tr colspan="3" style="padding: 15px 20px;">
            <td colspan="3">
                <div style="text-align:center"><a href="https://www.facebook.com/PBKidsMX"
                        style="text-decoration: none;"><img
                            src="http://liverpool-mkt-prod5-res.adobe-campaign.com/res/liverpool_mkt_prod5/926320b87f081a251b02ee5edd055ca836c03066531410b91c6381b54952c5e7.png"
                            alt="logo" usemap="#Map2" border="0"
                            style="margin: 0 auto; text-align: center; padding-left: 20px; display: inline; vertical-align: middle;"></a><a
                        href="https://instagram.com/pbkidsmx/" style="text-decoration: none;"><img
                            src="http://liverpool-mkt-prod5-res.adobe-campaign.com/res/liverpool_mkt_prod5/a1ac47daf7089562f80b687eeac96f7b650165702690896d54d0292735e815c5.png"
                            alt="logo" usemap="#Map2" border="0"
                            style="margin: 0 auto; text-align: center; padding-left: 20px; display: inline; vertical-align: middle;"></a>
                </div>
            </td>
        </tr>
        <tr>
            <td colspan="3" style="padding-bottom: 3%; padding-left: 5%; padding-top: 3%; padding-right: 5%;">
                <p style="text-align: center; font-size: 11px; font-weight: bold;">Ventas y Centro de Atención</p>
                <p style="text-align: center; font-size: 11px; line-height: 0.9em;"> (443) 689-2102 en Ciudad de México
                    y del Interior de la República.</p><br>
                <p style="text-align: center; font-size: 11px; line-height: 0.9em;"> RFC DLI-931201-MI9 Dstribuidora
                    Liverpool S.A de C.V. Prolongacion Vasco de Quiroga</p>
                <p style="text-align: center; font-size: 11px; line-height: 0.9em;">4800. torre 2 Piso 3. Colonia Santa
                    Fe Cuajimalpa. Delegacion Cuajimalpa de Morelos</p>
                <p style="text-align: center; font-size: 11px; line-height: 0.9em;">C.P. 05348, Ciudad de Mexico.
                    DLI931201MI9. Regimen General de Ley Personas Morales.</p>
                <p style="text-align: center; font-size: 11px; font-weight: bold; padding: 15px 0;"><a
                        href="https://assetspwa.potterybarn.com.mx/ayuda/index.html#/sec/terminos-y-condiciones/informacion"
                        style="color: #000000; text-decoration: none;">Términos y condiciones | </a><a
                        href="https://assetspwa.potterybarn.com.mx/ayuda/index.html#/sec/terminos-y-condiciones/proteccion-de-datos/aviso-clientes"
                        style="color: #000000; text-decoration: none;">Aviso de privacidad | </a><a
                        href="https://assetspwa.potterybarn.com.mx/ayuda/index.html#/"
                        style="color: #000000; text-decoration: none;">Ayuda | </a>Copyright Liverpool 2021</p>
            </td>
        </tr>
        <tr colspan="3">
            <td style="padding: 20px 10px;"> </td>
        </tr>
        <tr style="padding: 15px 20px;">
            <td colspan="3" style="color: white; background: #464646;">
                <p style="text-align: center; font-size: 12px; padding: 15px 0;"><b> Comparte los momentos Williams
                        sonoma Inc</b></p>
            </td>
        </tr>
    </tbody>
    </table>    
{% endif %}
{% if brand == "GAP" %}
    <table cellpadding="0" cellspacing="0" name="Footer"
    style="background-color: transparent; border-collapse: collapse; font-family: 'Roboto', sans-serif; width: 100%; padding: 0; border-radius: 3px; max-width: 630px; margin-top: 0; border: 0px !important;"
    width="100%" bgcolor="transparent">
    <tbody>
        <tr>
            <td colspan="3" style="text-align: center; padding: 15px 20px;"><label
                    style="font-size: 12px; font-weight: bold;">Siguenos en</label></td>
        </tr>
        <tr colspan="3" style="padding: 15px 20px;">
            <td colspan="3">
                <div style="text-align:center"></div>
            </td>
        </tr>
        <tr>
            <td colspan="3" style="padding-bottom: 3%; padding-left: 5%; padding-top: 3%; padding-right: 5%;">
                <p style="text-align: center; font-size: 11px; font-weight: bold;">Ventas y Centro de Atención</p>
                <p style="text-align: center; font-size: 11px; line-height: 0.9em;"> (443) 689-2102 en Ciudad de México
                    y del Interior de la República.</p><br>
                <p style="text-align: center; font-size: 11px; line-height: 0.9em;"> DISTRIBUIDORA GAP S.A DE C.V. (en
                    adelante "GAP"). con domicilio en Prolongacion</p>
                <p style="text-align: center; font-size: 11px; line-height: 0.9em;">Vasco de Quiroga 4800. Torre 2 Piso
                    3. Colonia Santa Fe Cuajimalpa. Delegacion</p>
                <p style="text-align: center; font-size: 11px; line-height: 0.9em;">Cuajimalpa de Morelos C.P. 05348,
                    Ciudad de Mexico. FRC DLI931201MI9. manifiesta</p>
                <p style="text-align: center; font-size: 11px; line-height: 0.9em;">que su informacion personal se
                    utilizara para identificarle y dar seguimiento a las </p>
                <p style="text-align: center; font-size: 11px; line-height: 0.9em;">relaciones comerciales que realice
                    con nosotros</p>
                <p style="text-align: center; font-size: 11px; font-weight: bold; padding: 15px 0;"><a
                        href="https://assetspwa.gap.com.mx/ayuda/index.html#/sec/terminos-y-condiciones/informacion"
                        style="color: #000000; text-decoration: none;">Términos y condiciones | </a><a
                        href="https://assetspwa.gap.com.mx/ayuda/index.html#/sec/terminos-y-condiciones/proteccion-de-datos/aviso-clientes"
                        style="color: #000000; text-decoration: none;">Aviso de privacidad | </a><a
                        href="https://assetspwa.gap.com.mx/ayuda/index.html#/"
                        style="color: #000000; text-decoration: none;">Ayuda | </a>Copyright 2021</p>
            </td>
        </tr>
        <tr colspan="3">
            <td style="padding: 20px 10px;"> </td>
        </tr>
        <tr style="padding: 15px 20px;">
            <td colspan="3" style="color: white; background: #464646;">
                <p style="text-align: center; font-size: 12px; padding: 15px 0;"><b> GAP Inc.</b></p>
            </td>
        </tr>
    </tbody>
    </table>
{% endif %}