<table cellpadding="0" cellspacing="0" name="Datos de evento" style="background-color: transparent; border-collapse: collapse; font-family: 'Roboto', sans-serif; width: 90%; margin: 10px 5%; padding: 0; border: 1px solid rgb(240, 236, 236); border-radius: 3px;"
width="90%" bgcolor="transparent">
    <tbody>
        <tr>
            <td style="font-size: 14px; padding: 15px 10px; background: white;">
                <p style="text-align: center;">Número de evento</p>
            </td>
            <td style="font-size: 14px; padding: 15px 10px; background: white;">
                <p style="text-align: center;">Tipo de evento</p>
            </td>
        </tr>
        <tr>
            <td style="font-size: 14px; padding-bottom: 15px; background: white;">
                <p style="text-align: center; line-height: 0.1em;">{{ body["mesaRegalos"]["numeroDeEvento"] }}</p>
            </td>
            <td style="font-size: 14px; padding-bottom: 15px; background: white;">
                <p style="text-align: center; line-height: 0.1em;">{{ body["mesaRegalos"]["tipoEvento"] }}</p>
            </td>
        </tr>
    </tbody>
</table>
