<table cellpadding=" 0" cellspacing=" 0" name=" way to pay" style=" background-color: transparent;
    border-collapse: collapse; font-family: 'Roboto' , sans-serif; width: 90%; margin: 10px 5%; padding: 0; border: 1px
    solid rgb(240, 236, 236); border-radius: 3px;" width=" 90%" bgcolor=" transparent">
    <tbody>
        <tr>
            <td colspan=" 2" style=" padding: 15px 10px; font-size: 18px; font-weight: bold; background: white;
                border-bottom: 1px solid darkgrey;">Forma de pago</td>
        </tr>
        <tr>
            <td colspan=" 2" style=" font-size: 14px; font-weight: bold; padding-left: 10px; padding-top: 15px;
                background: white;">
                <label style=" font-size: 14px;">Cheque</label>
                <br>
                <label style=" font-size: 14px;">
                </label>
            </td>
        </tr>
        <tr>
            <td style=" font-size: 14px; padding-left: 10px; padding-top: 15px; color: darkgray; background: white;">
                <label style=" font-size: 14px;">Autorización:</label>
            </td>
            <td style=" text-align: left; font-size: 14px; font-weight: bold; padding-left: 10px; padding-top: 15px;
                background: white;">
                <label style=" font-size: 14px;">*4567</label>
            </td>
        </tr>
        <tr>
            <td style=" font-size: 14px; padding-left: 10px; padding-top: 15px; color: darkgray; background: white;">
                <label style=" font-size: 14px;">Cheque número:</label>
            </td>
            <td style=" text-align: left; font-size: 14px; font-weight: bold; padding-left: 10px; padding-top: 15px;
                background: white;">
                <label style=" font-size: 14px;">8323892389238474839238484728348929847</label>
            </td>
        </tr>
        <tr>
            <td style=" font-size: 14px; padding-bottom: 15px; padding-left: 10px; padding-top: 15px; color: darkgray;
                background: white; border-bottom: 1px solid darkgrey;">
                <label style=" font-size: 14px;">Monto: </label>
            </td>
            <td style=" text-align: left; font-size: 14px; font-weight: bold; padding-bottom: 15px; padding-left: 10px;
                padding-top: 15px; background: white; border-bottom: 1px solid darkgrey;">
                <label style=" font-size: 14px;">$1,5129.15</label>
            </td>
        </tr>
    </tbody>
</table>