{% block mensaje %}
<div class="acr-fragment is-locked nl-dce-content-model" data-fragment-id="@SRKjxpN8osVXPjlO3gg42uP1GRW9F2IzFJd3vaJhX_Z6jj6ZWg9mkHpgvSLslZnBBB5N6TrqMKlIfw2NFYCkKEQTBi4" data-fragment-ref="CMDL64_SeparadorProductosBlancoTRN_SOMS_LIV" data-fragment-name="SeparadorProductosBlancoTRN_SOMS_LIV (CMDL64_SeparadorProductosBlancoTRN_SOMS_LIV)" data-nl-name="CMDL64_SeparadorProductosBlancoTRN_SOMS_LIV">
    <table align="center" cellpadding="0" cellspacing="0" border="0" style="table-layout: fixed; width: 100%;">
      <tbody style="background: #F7F7F7;">
        <tr>
          <th class="colspan1">
            <div class="acr-tmp-component o-body__soms -tabContent" data-contenteditable="true" data-tmp-component-id="html" style="border-top-left-radius: 0px; border-top-right-radius: 0px; display: table; margin: 0 0 48px 0; margin-top: 0; width: 100%;"></div>
          </th>
        </tr>
      </tbody>
    </table>
  </div>
<table cellpadding="0" cellspacing="0" name="Cambio" style="background-color: transparent; border-collapse: collapse; font-family: 'Roboto', sans-serif; width: 90%; margin: 10px 5%; padding: 0; border: 1px solid rgb(240, 236, 236); border-radius: 3px; margin-top: 0;"
width="90%" bgcolor="transparent">
    <tbody>
        <tr style="background: white;">
            <td style="text-align: center; padding: 5px 5px;">
              {% if brand == "LIV" %}
              <img src="https://assetspwa.liverpool.com.mx/assets/digital/mailings/img/add_liv.png" alt="check"  height="24" usemap="#Map2" border="0" style="margin: 0 auto; padding-left: 10px; padding-right: 10px; display: inline;">
              {% endif %}
              {% if brand == "PBA" %}
                  <img src="http://liverpool-mkt-prod5-res.adobe-campaign.com/res/liverpool_mkt_prod5/3450e8d72cb8eede117818884f3057b589aff0c907ac4ec78bfa474af8f4cd1e.png" alt="check"  height="24" usemap="#Map2" border="0" style="margin: 0 auto; padding-left: 10px; padding-right: 10px; display: inline;">
              {% endif %}
              {% if brand == "WSO" %}
                  <img src="http://liverpool-mkt-prod5-res.adobe-campaign.com/res/liverpool_mkt_prod5/4f90a524d3401d026e2d7fdb61b14ec016a8bdf264e417a77e4874b93ae25228.png" alt="check"  height="24" usemap="#Map2" border="0" style="margin: 0 auto; padding-left: 10px; padding-right: 10px; display: inline;">
              {% endif %}
              {% if brand == "WEL" %}
                  <img src="http://liverpool-mkt-prod5-res.adobe-campaign.com/res/liverpool_mkt_prod5/4f90a524d3401d026e2d7fdb61b14ec016a8bdf264e417a77e4874b93ae25228.png" alt="check"  height="24" usemap="#Map2" border="0" style="margin: 0 auto; padding-left: 10px; padding-right: 10px; display: inline;">
              {% endif %}
              {% if brand == "PBK" %}
              <img src="http://liverpool-mkt-prod5-res.adobe-campaign.com/res/liverpool_mkt_prod5/1c0d940670338617e5878295e3a78e9bffbdadc2473955e4ccdf260f563405ee.png" alt="check"  height="24" usemap="#Map2" border="0" style="margin: 0 auto; padding-left: 10px; padding-right: 10px; display: inline;">                
              {% endif %}
              {% if brand == "GAP" %}
                  <img src="http://liverpool-mkt-prod5-res.adobe-campaign.com/res/liverpool_mkt_prod5/0cc416c6de32d17d73428771c5f3ea24e8ba664e4609ae9e4de45f2c75f646b8.png" alt="check"  height="24" usemap="#Map2" border="0" style="margin: 0 auto; padding-left: 10px; padding-right: 10px; display: inline;"> 
              {% endif %}
                <label style="font-size: 18px; font-weight: bold;">Cancelación Exitosa</label>
            </td>
        </tr>
        <tr style="background: white;">
            <td style="text-align: center; padding: 5px 5px;">
                <label style="font-size: 14px;">{{  body["cliente"][0]["nombreCliente"] }} <br> {{  body["cliente"][0]["emailCliente"] }}</label>
            </td>
        </tr>
    </tbody>
</table>
{% endblock %}
