{% extends '0_base.html' %}


{% block labelTipoTicket %}
    {% for label in labels["LABEL_TYPE"] %}
        {% include '2_tab.html' %} 
    {% endfor %}
{% endblock %}

{% block labelTipoProducto %} 
    {% for label in labels["LABEL_PRODUCT"] %}
        {% include '2_tab.html' %} 
    {% endfor %}
{% endblock %}


{% block producto %}
    {% include '2_productosSinImagen.html' %} 
{% endblock %}

{% block factura %}
    {% include '1_facturaProducto.html' %} 
{% endblock %}

{% block resumenBolsa %}
    {% include '2_resumenBolsa.html' %}
{% endblock %}


