{% extends '0_base.html' %}

{% block mensaje %}
    {% include '2_mensajeGracias.html' %} 
{% endblock %}

{% block encuestaMedaliaSaludo %}
    {% include '2_encuestaMedalia_saludo.html' %}
{% endblock %}

{% block labelTipoTicket %}
    {% for label in labels["LABEL_TYPE"] %}
        {% include '2_tab.html' %} 
    {% endfor %}
{% endblock %}

<!--{% block warnings %} 
    {% for soms in body["soms"]%}
        {% if soms["clienteAvisa"]=="Cliente Avisa" %}
            {% for warnings in labels["WARNINGS"]["val1"] %}
                {% include '3_warning.html' %} 
            {% endfor %}
        {% else %}
            {% for warnings in labels["WARNINGS"]["val2"] %}
                {% include '3_warning.html' %} 
            {% endfor %}
        {% endif %}
    {% endfor %}
{% endblock %}-->

{% block labelTipoProducto %} 
    {% for label in labels["LABEL_PRODUCT"] %}
        {% include '2_tab.html' %} 
    {% endfor %}
{% endblock %}


{% block producto %}    
    {% include '2_productosImagen.html' %}    
{% endblock %}

{% block factura %}
    {% include '1_facturaProducto.html' %} 
{% endblock %}


{% block resumenBolsa %}
    {% include '2_resumenBolsa.html' %}
{% endblock %}